body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

header {
    display: flex;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.134);
    justify-content: space-between;
}

.header-icon {
    width: 3rem;
    height: 3rem;
    margin-left: 9rem;
}

.header-menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-right: 9rem;
}

.current {
    font-weight: 500;
    color: rgba(40, 40, 40, 0.864);
}

a {
    text-decoration: none;
    color: rgba(99, 99, 99, 0.829);
}

a:hover {
    color: rgb(255, 98, 0);
  }

.img-content {
    position: relative;
    text-align: center;
}

.main-img {
    width: 100%;
    height: auto;
}

.img-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1.5em;
}

.img-header {
    color: white;
    font-weight: 100;
    font-size: 3.7em;
}

.img-paragraph {
    color: rgba(255, 255, 255, 0.815);
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 1.2em;
}

.img-button {
    color: white;
    background-color: rgb(255, 98, 0);
    border: none;
    padding: 1em;
    border-radius: 0.3em;
    width: 10em;
}

.img-items :last-child {
    align-self: center;
}

.list-header {
    font-weight: 100;
    color: rgba(40, 40, 40, 0.934);
    font-size: 2.5em;
    margin-top: 8rem;
    margin-bottom: 3.6rem;
    text-align: center;
}

.list-content {
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.list-icon {
    width: 9rem;
    height: 9rem;
}

.list-text-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

p1 {
    font-weight: 400;
    color: rgba(40, 40, 40, 0.934);
    font-size: 1.5em;
}

main {
    padding-bottom: 10rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1.5em;
}

p2 {
    font-weight: 500;
    color: rgba(40, 40, 40, 0.871);
    font-size: 1.1em;
}

.footer-icon {
    display: flex;
    gap: 3em;
}

.sn-icon {
    width: 1.2em;
    height: 1.2em;
}

p3 {
    font-weight: 100;
    color: rgba(99, 99, 99, 0.685);
    font-size: 1.1em;
}

hr {
    width: 80%;
    opacity: 80%;
}